.ncage1 {
  background-image: url("./ncage1.jpg");

}

.ncage2{
  background-image: url("./ncage2.jpg");
}

.ncage3 {
  background-image: url("./ncage3.jpg");
}

.ncage4 {
  background-image: url("./ncage4.jpg");

}

.ncage5 {
  background-image: url("./ncage5.jpg");
}

.ncage6 {
  background-image: url("./ncage6.jpg");
}

.ncage7 {
  background-image: url("./ncage7.jpg");
}

.ncage8 {
  background-image: url("./ncage8.jpg");
}

.ncage9 {
  background-image: url("./ncage9.jpg");
}