
/* GLOBAL */

body {
  background-color: #192a56;
  color: #f5f6fa;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 2.5em;
  color: #8c7ae6;
}

header {
  padding: 20px;
  border: solid 4px #192a56;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 15px -5px rgba(140,122,230,0.2); 
  box-shadow: 0px 0px 15px -5px rgba(140,122,230,0.2);
}

/* HEADER */

.timer {
  color: #8c7ae6;
}

.main-header {
  width: 80%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  -webkit-box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.33); 
  box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.33);
}

.main-header {
    border: 0;
}

.main-header h1 {
  color: #f5f6fa;
}

.main-header p {
  font-size: 2em;
}

/* GAME */ 

.main-container {
  display: flex;
}

.game {
  width: 80%;
  display: flex;
}

.input, .output {
  background-color: #7f8fa6;
  border: 1px solid #2f3640;
  border-radius: 15px;
}

.input textarea {
  box-sizing: border-box;
  font-size: 1.5em;
  color: #f5f6fa;
  width: 100%;
  padding: 20px;
  margin: 0px;
  background-color: #7f8fa6;
  border: 1px solid #2f3640;
  border-bottom: 0px;
  border-radius: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.input button {
  width: 100%;
  padding: 10px 0px;
  background-color: #2f3640;
  color: #f5f6fa;
  border: 1px solid #2f3640;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.output {
  padding: 20px;
}

.game1 {
  width: 100%;
}

.game1 header {
  margin: 30px;
}

.game1 header h1 {
  font-size: 2em;
}

.game1 header p {
  padding: 10px;
}

.movies-output{
  width: 50%;
  max-height: 100vh;
  display:flex;
  flex-direction: column;
}

.movies {
  padding: 20px !important;
  overflow-y: scroll;
}

.fridays-output{
  width: 50%;
  max-height: 100vh;
  display:flex;
  flex-direction: column;
}

.fridays {
  padding: 20px !important;
}

.fridays a {
  color: #f5f6fa;
  text-decoration: underline;
}

.tall {
  min-height: 60%;
}

.passed {
  color: #4cd137;
}

.tests_passed {
  color: #fbc531;
  margin-top: 10px !important;
  text-transform: uppercase;
}

.failed {
  color: #e84118;
}

.drunk-verylight {
  filter: blur(.4px);
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.drunk-light {
  filter: blur(0.6px);
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.drunk-medium {
  filter: blur(0.75px);
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.drunk-heavy {
  filter: blur(1px);
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.drunk-crazy {
  filter: blur(1.5px);
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes shake {
  0%, 100% {-webkit-transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
  20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}

@keyframes shake {
  0%, 100% {transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
  20%, 40%, 60%, 80% {transform: translateX(10px);}
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
  animation-iteration-count: infinite;
}

.puzzle-output {
  width: 450px;
  height: 300px;
  margin: 10px;
  display:flex;
  flex-direction: column;
}

.puzzle-row {
  display:flex;
  flex-wrap: wrap;
}

.puzzle-block {
  display:flex;
}

.puzzle-col {
  display: flex;
  flex-direction: column;
}

.puzzle-piece {
  width: 150px;
  height: 100px;
}

.puzzle-piece img {
  width: 100%;
}

/* CANVAS */

.game6 {
  width: 100%;
}

.game6 header {
  margin: 20px;
}

.game6 h1 {
  margin-bottom: 10px;
}

.canvas-container {
  width: 100%;
}

canvas {
  display:block;
  margin: 20px auto;
  width: 80%; 
  height: 500px;
}

.button-up {
  position: absolute;
  width: 50px;
  bottom: -140px;
  right: 325px;
  z-index: 100;
}

.button-down {
  position: absolute;
  width: 50px;
  bottom: -75px;
  right: 325px;
  z-index: 100;
}

/* CLASES PARA GANAR EN EL GAME 2 */

/* .row1 {
  flex-direction: row-reverse;
}

.block{
  flex-direction: row-reverse;
}

.block-col1 {
  flex-direction: column-reverse;
}

.block-col2 {
  flex-direction: column-reverse;
}

.block-row1 {
  flex-direction: row-reverse;
}

.block-row2 {
  flex-direction: row-reverse;
} */

/* MENU */

/* .menu {
  width: 20%;
  padding: 25px;
} */

.menu a {
  font-size: 1.5em;
  text-decoration: none;
  color: #f5f6fa;
  transition: color 0.3s ease;
}

.menu a:hover {
  color: #487eb0 !important;
}

/* .menu ul {
  display:flex;
  flex-direction: column;
} */

#menuToggle
{
  height: 100%;
  display: block;
  position: absolute;
  top: 50px;
  right: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #487eb0;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #487eb0;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  height: 100%;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -100px;
  
  background-color: #2f3640;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: scale(1.0, 1.0);
  opacity: 1;
}

.imgSize {
  width: 150px;
  height: 150px;
}

.sizeW {
  width: 100%;
}

.aligner {
  position: absolute;
  display: block;
  top: 50vh;
  left: 41vw;
}

.greenBorder {
  border-top: 5px solid #4cd137;
}
