
/* GLOBAL */

body {
  background-color: #192a56;
  color: #f5f6fa;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 2.5em;
}

/* HEADER */

.main-header {
  width: 80%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-header p {
  font-size: 2em;
}

/* GAME */ 

.main-container {
  display: flex;
}

.game {
  width: 80%;
  display: flex;
}

.input, .output {
  background-color: #7f8fa6;
  border: 1px solid #2f3640;
  border-radius: 15px;
}

.input textarea {
  box-sizing: border-box;
  font-size: 1.5em;
  color: #f5f6fa;
  width: 100%;
  padding: 20px;
  margin: 0px;
  background-color: #7f8fa6;
  border: 1px solid #2f3640;
  border-bottom: 0px;
  border-radius: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.input button {
  width: 100%;
  padding: 10px 0px;
  background-color: #2f3640;
  color: #f5f6fa;
  border: 1px solid #2f3640;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.output {
  padding: 20px;
}

.game1 {
  width: 100%;
}

.game1 header {
  margin: 30px;
}

.game1 header h1 {
  font-size: 2em;
}

.game1 header p {
  padding: 10px;
}

.movies-output{
  width: 50%;
  max-height: 100vh;
  display:flex;
  flex-direction: column;
}

.movies {
  padding: 20px !important;
  overflow-y: scroll;
}

.fridays-output{
  width: 50%;
  max-height: 100vh;
  display:flex;
  flex-direction: column;
}

.fridays {
  padding: 20px !important;
}


.fridays a {
  color: #f5f6fa;
  text-decoration: underline;
}

.tall {
  min-height: 60%;
}

.passed {
  color: #4cd137;
}

.tests_passed {
  color: #fbc531;
  margin-top: 10px !important;
  text-transform: uppercase;
}

.failed {
  color: #e84118;
}

.drunk-verylight {
  filter: blur(.4px);
}

.drunk-light {
  filter: blur(0.6px);
}

.drunk-medium {
  filter: blur(0.75px);
}

.drunk-heavy {
  filter: blur(1px);
}

.drunk-crazy {
  filter: blur(1.5px);
}

.puzzle-input {

}

.puzzle-output {
  width: 450px;
  height: 300px;
  margin: 10px;
  display:flex;
  flex-direction: column;
}

.puzzle-row {
  display:flex;
  flex-wrap: wrap;
}

.puzzle-block {
  display:flex;
}

.puzzle-col {
  display: flex;
  flex-direction: column;
}

.puzzle-piece {
  width: 150px;
  height: 100px;
}

.puzzle-piece img {
  width: 100%;
}

/* CANVAS */

.game6 {
  width: 100%;
}

.canvas-container {
  width: 90%;
  margin: 0 auto;
}

canvas {
  margin: 20px;
  width: 100%; 
  height: 500px;
}

/* CLASES PARA GANAR EN EL GAME 2 */

/* .row1 {
  flex-direction: row-reverse;
}

.block{
  flex-direction: row-reverse;
}

.block-col1 {
  flex-direction: column-reverse;
}

.block-col2 {
  flex-direction: column-reverse;
}

.block-row1 {
  flex-direction: row-reverse;
}

.block-row2 {
  flex-direction: row-reverse;
} */

/* MENU */

.menu {
  width: 20%;
  padding: 25px;
  background-color: #2f3640;
}

.menu ul {
  display:flex;
  flex-direction: column;
}

.menu-link {
  font-size: 1.5em;
  text-decoration: none;
  color: #f5f6fa;
}

.imgSize {
  width: 150px;
  height: 150px;
}

.sizeW {
  width: 100%;
}

.aligner {
  position: absolute;
  display: block;
  top: 50vh;
  left: 41vw;
}

.greenBorder {
  border-top: 5px solid #4cd137;
}
