
/* GLOBAL */

body {
  background-color: #192a56;
  color: #f5f6fa;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 2.5em;
}

/* HEADER */

.main-header {
  width: 80%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-header p {
  font-size: 2em;
}

/* GAME */ 

.main-container {
  display: flex;
}

.game {
  width: 80%;
  display: flex;
}

.input, .output {
  background-color: #7f8fa6;
  border: 1px solid #2f3640;
  border-radius: 15px;
}

.input textarea {
  box-sizing: border-box;
  font-size: 1.5em;
  color: #f5f6fa;
  width: 100%;
  padding: 20px;
  margin: 0px;
  background-color: #7f8fa6;
  border: 1px solid #2f3640;
  border-bottom: 0px;
  border-radius: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.input button {
  width: 100%;
  padding: 10px 0px;
  background-color: #2f3640;
  color: #f5f6fa;
  border: 1px solid #2f3640;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.output {
  padding: 20px;
}

.game1 {
  width: 50%;
  margin: 10px;
}

/* MENU */

.menu {
  width: 15%;
  padding: 25px;
  background-color: #2f3640;
}

.menu ul {
  display:flex;
  flex-direction: column;
}

.menu-link {
  font-size: 1.5em;
  text-decoration: none;
  color: #f5f6fa;
}