.row1 {
    flex-direction:
}

.block{
    flex-direction:
}

.block-col1 {
    flex-direction:
}

.block-col2 {
    flex-direction:
}

.block-row1 {
    flex-direction:
}

.block-row2 {
    flex-direction:
}